<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
    <header>
        <nav>
          <ul>
            <li><a href="/flights">All Flights</a></li>
            <li><a href="/flights/new">New Flight</a></li>
          </ul>
        </nav>
        </header>
    <section id="show-page">
        <h1 class="section-label">Flight</h1>
        <table>
            <thead>
              <tr>
                <th>Airline</th>
                <th>Airport</th>
                <th>Flight Number</th>
                <th>Departure Time</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td><%= flight.airline %></td>
                  <td><%= flight.airport %></td>
                  <td><%= flight.flightNo %></td>
                  <td><%= flight.departs %></td>
                </tr>
            </tbody>
          </table>
      <br>
      <h2 class="section-label">Destinations</h2>
      <% if (flight.destinations.length) { %>
        <table>
          <thead>
            <tr>
              <th>Airport</th>
              <th>Arrival</th>
            </tr>
          </thead>
          <tbody>
            <% flight.destinations.forEach(function(d) { %>
              <tr>
                <td><%= d.airport %></td>
                <td><%= d.arrival %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      <% } else { %>
        <h5>No Destinations Yet</h5>
      <% } %>

      <br>

      <h2 class="section-label">Add Destination</h2>
      <br>
      <form method="POST"
        action="/flights/<%= flight._id %>/destinations">
        <label>Destination:</label>
        <select name="airport">
            <option value="ATL">ATL</option>
            <option value="DFW">DFW</option>
            <option value="DEN" selected>DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select>
        <br>
        <label>Arrival Date/Time:</label>
        <input type="datetime-local" name="arrival">
        <br>
        <input type="submit" value="Add Destination">
      </form>
      


      </body>
</html>